@{
    ViewBag.Title = "PaymentApproval";
}

<br />
<br />
<a href="https://safe.unimancorpaps.com/JDEapproval1.aspx" target="_blank"><i class="uni-icon icon-payment small"></i> View / Approve Work Orders for Payment</a>

