



/****** Object:  Table [dbo].[properties_recurringwork]    Script Date: 07/19/2016 23:29:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[properties_recurringwork](
	[propertyid] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[sweeping] [numeric](9, 2) NULL,
	[sweeping_dumpster] [numeric](9, 2) NULL,
	[sweeping_dumpstertax] [numeric](9, 2) NULL,
	[sweeping_frequency] [nvarchar](250) NULL,
	[opmaintenance] [numeric](9, 2) NULL,
	[landscaping] [numeric](9, 2) NULL,
	[snow] [numeric](9, 2) NULL,
	[cleaning] [numeric](9, 2) NULL,
	[sweeping_hpll] [numeric](9, 2) NULL,
	[months2process] [nvarchar](50) NULL,
	[notes] [nvarchar](2500) NULL,
	[id] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[properties_recurringwork] ([propertyid], [type], [sweeping], [sweeping_dumpster], [sweeping_dumpstertax], [sweeping_frequency], [opmaintenance], [landscaping], [snow], [cleaning], [sweeping_hpll], [months2process], [notes], [id]) VALUES (N'021E10', N'Sweeping', CAST(2520.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), N'', CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), N'[01][02][03][04][05][06][07][08][09][10][11][12]', N'', 35)
INSERT [dbo].[properties_recurringwork] ([propertyid], [type], [sweeping], [sweeping_dumpster], [sweeping_dumpstertax], [sweeping_frequency], [opmaintenance], [landscaping], [snow], [cleaning], [sweeping_hpll], [months2process], [notes], [id]) VALUES (N'021E10', N'Landscaping', CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), N'', CAST(0.00 AS Numeric(9, 2)), CAST(5041.25 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), N'[04][05][06][07][08][09][10][11]', N'', 392)
INSERT [dbo].[properties_recurringwork] ([propertyid], [type], [sweeping], [sweeping_dumpster], [sweeping_dumpstertax], [sweeping_frequency], [opmaintenance], [landscaping], [snow], [cleaning], [sweeping_hpll], [months2process], [notes], [id]) VALUES (N'021E10', N'Snow', CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), N'', CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(19790.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), CAST(0.00 AS Numeric(9, 2)), N'[01][02][03][11][12]', N'', 590)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
